<!-- ======= Footer ======= -->
<!-- <footer class="col-md-12 row" id="footer" >
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-6 text-lg-left text-left">
          <div class="copyright">
            <strong>Finspace</strong>  &copy; All Rights Reserved
            {{converttostringdate}}
          </div>
        </div>
        <div class="col-lg-6 text-lg-left text-right">
          <div class="powerby">
           Powered by <strong>Srichid Technologies</strong>  
          </div>
        </div>
      </div>
    </div>
  </footer> -->
  <!-- End Footer -->
  <footer >
    <div class="copyright">
      <div class="container">
          <p>Copyright  © 2021 Finspace. All Rights Reserved</p>
          <ul>
              <li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
              <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
              <li><a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href="javascript:void(0);"><i class="fab fa-skype"></i></a></li>
          </ul>
   
          <p style="float:left;margin-left: 30%;">Powered By </p>
          <img src="assets/img/srilogo.jpg" alt="" style="width: 10%;">
      </div>
  </div>
  </footer>

  