<app-header></app-header>


<body class="" id ="menuslist">
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div><div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <p class="headtext" style="color: #ff5e00;font-size: 26px;">Dashboard</p>
    <p class="headtext">Customer ID: {{uid}}</p>
    <div>&nbsp;</div>
    <div class="col-md-12 row" >
        <div class="column">
            <div class="card cardcolor">
                <br />
                <p class="complaintext">Request New Service</p>
                <br /> <br />
                <div class="col-md-12 row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8" style="text-align: center;">
                        <button class="btn btnprop" (click)="GotoNewService()">View Details</button>
                    </div>
                </div>
                <br /> <br />
            </div>
        </div>
        <div class="column">
            <div class="card cardcolor">
                <br />
                <p class="complaintext">Requested Services</p>
                <p class="complaintext">{{RequestedServicesList.length}}</p>
                <div class="col-md-12 row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8" style="text-align: center;">
                        <a pageScroll href="#ShowRequestedDetails"> <button class="btn btnprop"
                                (click)="GotoRequestedService()">View Details</button></a>
                    </div>
                </div>
                <br /> <br />
            </div>
        </div>
        <div class="column">
            <div class="card cardcolor">
                <br />
                <p class="complaintext">Completed Services</p>
                <p class="complaintext">{{CompletedServiceList.length}}</p>
                <div class="col-md-12 row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8" style="text-align: center;">
                        <a pageScroll href="#ShowCompletedDetails"> <button class="btn btnprop"
                                (click)="GotoCompletedService()">View Details</button></a>
                    </div>
                </div>
                <br /> <br />
            </div>
        </div>
    </div>
    <div>&nbsp;</div>
    <div class="col-md-12 row">
        <div class="column">
            <div class="card cardcolor">
                <br />
                <p class="complaintext">Pending Applications</p>
                <p class="complaintext">{{PendingApplicationsList.length}}</p>
                <div class="col-md-12 row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8" style="text-align: center;">
                        <a pageScroll href="#ShowPendingApplications"> <button class="btn btnprop"
                                (click)="GotoPendingApplications()">View Details</button></a>
                    </div>
                </div>
                <br /> <br />
            </div>
        </div>
    </div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
</body>





<!-- 
<body class="bodycolor">
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <p class="headtext" style="color: #ff5e00;font-size: 26px;">Dashboard</p>
    <p class="headtext">Customer ID: {{uid}}</p>
    <div>&nbsp;</div>
    <div class="col-md-12 row" style=" background-color: #ececec;">
        <div class="column">
            <div class="card cardcolor">
                <br />
                <p class="complaintext">Request New Service</p>
                <br /> <br />
                <div class="col-md-12 row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8" style="text-align: center;">
                        <button class="btn btnprop" (click)="GotoNewService()">View Details</button>
                    </div>
                </div>
                <br /> <br />
            </div>
        </div>
        <div class="column">
            <div class="card cardcolor">
                <br />
                <p class="complaintext">Requested Services</p>
                <br /> <br />
                <div class="col-md-12 row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8" style="text-align: center;">
                        <a pageScroll href="#ShowRequestedDetails"> <button class="btn btnprop"
                                (click)="GotoRequestedService()">View Details</button></a>
                    </div>
                </div>
                <br /> <br />
            </div>
        </div>
        <div class="column">
            <div class="card cardcolor">
                <br />
                <p class="complaintext">Completed Services</p>
                <br /> <br />
                <div class="col-md-12 row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8" style="text-align: center;">
                        <a pageScroll href="#ShowCompletedDetails"> <button class="btn btnprop"
                                (click)="GotoCompletedService()">View Details</button></a>
                    </div>
                </div>
                <br /> <br />
            </div>
        </div>
    </div>
    <div>&nbsp;</div>
    <div class="col-md-12 row" style=" background-color: #ececec;">
        <div class="column">
            <div class="card cardcolor">
                <br />
                <p class="complaintext">Pending Applications</p>
                <br /> <br />
                <div class="col-md-12 row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8" style="text-align: center;">
                        <a pageScroll href="#ShowPendingApplications"> <button class="btn btnprop"
                                (click)="GotoPendingApplications()">View Details</button></a>
                    </div>
                </div>
                <br /> <br />
            </div>
        </div>
    </div>
    <div style=" background-color: #ececec;">&nbsp;</div>
    <div style=" background-color: #ececec;">&nbsp;</div>

    <div class="col-md-12 row" style="background-color: #ececec;" *ngIf="ShowRequestedDetails"
        id="ShowRequestedDetails">
        <div class="col-md-2"></div>
        <div class="col-md-8 card">
            <div>
                <br /> <br />
                <h3 style="text-align: center;">Requested Services</h3>
                <div class="col-md-12 row">
                    <div class="col-md-1"></div>

                    <div class="col-md-3 row">
                        <label>From Date</label>
                        <input type="date" class="form-control" id="Newfromdate" name="Newfromdate"
                            placeholder="Any Day" [(ngModel)]="Newfromdate"
                            (change)="onChangeNewfromdate(Newfromdate)" />
                    </div>
                    <div class="col-md-1"></div>

                    <div class="col-md-3 row">
                        <label >To Date</label>
                        <input type="date" class="form-control" id="Newtodate" name="Newtodate"
                             placeholder="Any Day" [(ngModel)]="Newtodate"
                            (change)="onChangeNewTodate(Newtodate)" />
                    </div>
                    <div class="col-md-1"></div>

                    <div class="col-md-3 row">
                        <div class="col-md-12">&nbsp;</div>

                        <button class="btn btnpropother"
                                (click)="cancelNew()">Cancel</button>
                    </div>
                </div>
                <br/>
                <div class="search-hero">
                    <input class="form-control" type="text" name="SearchRequested" [(ngModel)]="SearchRequested" autocomplete="off" placeholder="&#61442; Search">
                  </div>
                <br />
                <div class="table-responsive">
                    <table class="table table-bordered" style="border-collapse: collapse;">
                        <tr style="font-size:17px">
                            <th>Sl No</th>
                            <th style="cursor: pointer;" (click)="sortbyserviceid()">Service Id</th>
                            <th>Customer Number</th>
                            <th>Information</th>
                            <th style="cursor: pointer;" (click)="sortbydate()">Application Date</th>
                            <th>Assigned To</th>
                            <th>Track Status</th>

                        </tr>
                        <tr *ngFor="let com  of RequestedServicesList  | LockFilter: SearchRequested | paginate: { itemsPerPage: 5, currentPage: p };let i = index"
                            style="font-size:16px;font-family: DINNextRoundedLTPro">
                            <td> {{ 5 * (p - 1) + (i+1) }}</td>
                            <td>{{com.complaintId}} </td>
                            <td>{{com.contactNumber}}</td>
                            <td>{{com.information}}</td>
                            <td>{{com.lastUpdated|date}}</td>
                            <td>{{com.serviceProvider}}</td>
                            <td (click)="GetTrackDetails(com)"> <input class="btn btnprop" type="button"
                                    value="Track Status" /></td>
                        </tr>
                    </table>
                    <br />
                    <pagination-controls (pageChange)="p = $event" ></pagination-controls>
                    <br /><br />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 row" style="background-color: #ececec;" *ngIf="ShowCompletedDetails"
        id="ShowCompletedDetails">
        <div class="col-md-2"></div>
        <div class="col-md-8 card">
            <div>
                <br /> <br />
                <h3 style="text-align: center;">Completed Services</h3>
                <br />
                <div class="col-md-12 row">
                    <div class="col-md-1"></div>

                    <div class="col-md-3 row">
                        <label>From Date</label>
                        <input type="date" class="form-control" id="Completedfromdate" name="Completedfromdate"
                            placeholder="Any Day" [(ngModel)]="Completedfromdate"
                            (change)="onChangeCompletedfromdate(Completedfromdate)" />
                    </div>
                    <div class="col-md-1"></div>

                    <div class="col-md-3 row">
                        <label >To Date</label>
                        <input type="date" class="form-control" id="Completedtodate" name="Completedtodate"
                             placeholder="Any Day" [(ngModel)]="Completedtodate"
                            (change)="onChangeCompletedTodate(Completedtodate)" />
                    </div>
                    <div class="col-md-1"></div>

                    <div class="col-md-3 row">
                        <div class="col-md-12">&nbsp;</div>

                        <button class="btn btnpropother"
                                (click)="cancelCompleted()">Cancel</button>
                    </div>
                </div>
              
                <br />
                <div class="search-hero">
                    <input class="form-control" type="text" name="SearchCompleted" [(ngModel)]="SearchCompleted" autocomplete="off" placeholder="&#61442; Search">
                  </div>
                <br />
                <div class="table-responsive">
                    <table class="table table-bordered" style="border-collapse: collapse;">
                        <tr style="font-size:17px">
                            <th>Sl No</th>
                            <th style="cursor: pointer;" (click)="sortbyserviceid()">Service Id</th>
                            <th>Customer Number</th>
                            <th>Information</th>
                            <th style="cursor: pointer;" (click)="sortbydate()">Application Date</th>
                            <th>Assigned To</th>
                        </tr>
                        <tr *ngFor="let com of CompletedServiceList  | LockFilter: SearchCompleted  | paginate: { itemsPerPage: 5, currentPage: p };let i = index"
                            style="font-size:16px;font-family: DINNextRoundedLTPro">
                            <td> {{ 5 * (p - 1) + (i+1) }}</td>
                            <td>{{com.complaintId}} </td>
                            <td>{{com.contactNumber}}</td>
                            <td>{{com.information}}</td>
                            <td>{{com.lastUpdated|date}}</td>
                            <td>{{com.serviceProvider}}</td>

                        </tr>
                    </table>
                    <br />
                    <pagination-controls (pageChange)="p = $event" ></pagination-controls>
                    <br /><br />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 row" style="background-color: #ececec;" *ngIf="ShowPendingApplications"
        id="ShowPendingApplications">
        <div class="col-md-2"></div>
        <div class="col-md-8 card">
            <div>
                <br /> <br />
                <h3 style="text-align: center;">Pending Applications</h3>
                <br />
                <div class="col-md-12 row">
                    <div class="col-md-1"></div>

                    <div class="col-md-3 row">
                        <label>From Date</label>
                        <input type="date" class="form-control" id="Assignfromdate" name="Assignfromdate"
                            placeholder="Any Day" [(ngModel)]="Assignfromdate"
                            (change)="onChangeAssignfromdate(Assignfromdate)" />
                    </div>
                    <div class="col-md-1"></div>

                    <div class="col-md-3 row">
                        <label >To Date</label>
                        <input type="date" class="form-control" id="Assigntodate" name="Assigntodate"
                             placeholder="Any Day" [(ngModel)]="Assigntodate"
                            (change)="onChangeAssignTodate(Assigntodate)" />
                    </div>
                    <div class="col-md-1"></div>

                    <div class="col-md-3 row">
                        <div class="col-md-12">&nbsp;</div>

                        <button class="btn btnpropother"
                                (click)="cancelAssign()">Cancel</button>
                    </div>
                </div>
                <br/>
                <div class="search-hero">
                    <input class="form-control" type="text" name="SearchPending" [(ngModel)]="SearchPending" autocomplete="off" placeholder="&#61442; Search">
                  </div>
                <br />
                <div class="table-responsive">
                    <table class="table table-bordered" style="border-collapse: collapse;">
                        <tr style="font-size:17px">
                            <th>Sl No</th>
                            <th>Product Type</th>
                            <th>Loan/Isurance Type</th>
                            <th style="cursor: pointer;" (click)="sortbyserviceid()">Service Id</th>
                            <th>Details</th>
                        </tr>
                        <tr *ngFor="let com of PendingApplicationsList | LockFilter: SearchPending   | paginate: { itemsPerPage: 5, currentPage: p };let i = index"
                            style="font-size:16px;font-family: DINNextRoundedLTPro">
                            <td> {{ 5 * (p - 1) + (i+1) }}</td>
                            <td>{{com.productType}} </td>
                            <td>{{com.loanorInsuranceType}}</td>
                            <td>{{com.tickedId}}</td>
                            <td (click)="GotoForm(com)"> <input class="btn btnprop" type="button" value="View" /></td>
                          
                        </tr>
                    </table>
                    <br />
                    <pagination-controls (pageChange)="p = $event" ></pagination-controls>
                    <br /><br />
                </div>
            </div>
        </div>
    </div>
    <br /> <br /> <br /> <br />
    <div class="modal modal-angular fade" id="Fulldetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modalsize" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100" id="myModalLabel" style="text-align: center">
                        <p style="color: darkslateblue;text-transform: uppercase;">Information
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" style="background-color: #ececec;">
                    <br />
                    <div>
                        <div class="col-md-12 row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <label>Compalint Id:&nbsp;</label><br /><br />
                                <label>Service Provider:&nbsp;</label><br /><br />
                                <label>Employee Name:&nbsp;</label><br /><br />
                                <label>Employee Number:&nbsp;</label><br /><br />
                                <label>Service Date:&nbsp;}</label><br /><br />
                                <label>Service Time:&nbsp;</label><br /><br />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning waves-light" data-dismiss="modal"
                        mdbWavesEffect>Close</button>

                </div>
            </div>

        </div>

    </div> -->



    <style>
        .modalsize {
            width: 950px;
            max-width: 950px;
            overflow-y: 50vh;
        }

        @media (max-width: 960px) {
            .modalsize {
                width: 450px;
                max-width: 650px;
                overflow-y: 50vh;
            }
        }

        @media (max-width: 575px) {
            .modalsize {
                width: 480px;
                max-width: 550px;
                overflow-y: 50vh;
            }
        }

        @media (max-width: 460px) {
            .modalsize {
                width: 380px;
                max-width: 450px;
                overflow-y: 50vh;
            }
        }

        @media (max-width: 390px) {
            .modalsize {
                width: 350px;
                max-width: 450px;
                overflow-y: 50vh;
            }
        }

        @media (max-width: 320px) {
            .modalsize {
                width: 310px;
                max-width: 450px;
                overflow-y: 50vh;
            }
        }
    </style>