.bodycolor {
    background-color: #f1f3f6;
}

.homecard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 4px;
    text-align: center;
    background-color: white;
    color: black;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}