.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: #ced4da;
    padding-right: calc(1.5em + .75rem);
    background-image:none;
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
  }