<app-header></app-header>


<!DOCTYPE html>
<html lang="en">
<head>
<!-- <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="author" content="">
<title>Finspace</title> -->
<!--fav icon-->
<!-- <link rel="shortcut icon" href="assets/Images/favicon.ico" type="image/x-icon">
<link rel="icon" href="assets/Images/favicon.ico" type="image/x-icon"> -->
<!-- Default links -->
<!-- <link href="css/slick.css" rel="stylesheet" type="text/css" />
<link href="css/slick-theme.css" rel="stylesheet" type="text/css" />
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" /> -->
<!-- Fonts -->
<!-- <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet"> -->

<!-- Fonts Awesome -->
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous"> -->
<!-- Fonts -->

<!-- custom links -->
<!-- <link href="css/custom.css" rel="stylesheet" type="text/css" />
<link href="css/responsive.css" rel="stylesheet" type="text/css" />
<link href="css/developer.css" rel="stylesheet" type="text/css" /> -->
</head>

<body >

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js" ></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/custom.js"></script>
    <!-- Header -->
    <!-- <header class="header_outer">
        <div class="custome_container">
            <nav class="nav_outer">
                <a href="javascript:void(0);" class="main_logo">
                    <figure>
                        <img src="assets/images/logo.png" alt="Logo">
                    </figure>
                </a>
                <div class="custom_menu">
                    <button class="mobile_menu_btn"><span></span></button>
                    <div class="main_menu">
                        <ul>
                            <li class="active"><a href="#home" >Home</a></li>
                            <li>
                                <div class="dropdown">
                                  <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    About
                                  </button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#misvis">Mission & Vision</a>
                                  </div>
                                </div>
                            </li> 
                            <li><a href="#service">Our Services</a></li>
                            <li><a href="#contact">Contact Us</a></li>
                            <li><a href="#partner" class="cmn_btn">Become a Partner</a></li>
                        </ul>
                    </div>
                    <a href="javascript:void(0);"><span><i class="fas fa-lock"></i></span>Login / Signup</a>
                </div>
            </nav>
        </div>
    </header> -->
    <!-- Header -->

    <!-- Banner -->
    <section class="banner_outer" id="home">
        <div class="banner_slider" >
            <div class="">
                <div class="banner_box">
                    <div class="banner_image">
                        <figure>
                            <img src="assets/Images/banner.png" alt="Banner_one" >
                        </figure>
                    </div>
                    <div class="banner-content">
                        <h2><span>SECURED WITH BLOCKCHAIN</span>Financial services online partnership</h2>
                        <div class="banner_btn">
                            <a href="javascript:void(0);" class="cmn_btn" href="#contact">Get in touch</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="banner_box">
                    <div class="banner_image">
                        <figure>
                            <img src="assets/Images/banner2.png" alt="Banner_one">
                        </figure>
                    </div>
                    <div class="banner-content">
                        <h2><span>SECURED WITH BLOCKCHAIN</span>ONLINE FINANCIAL ADVISORY</h2>
                        <div class="banner_btn">
                            <a href="javascript:void(0);" class="cmn_btn" href="#/signup">Register Here</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="banner_box">
                    <div class="banner_image">
                        <figure>
                            <img src="assets/Images/banner3.png" alt="Banner_one">
                        </figure>
                    </div>
                    <div class="banner-content">
                        <h2><span>SECURED WITH BLOCKCHAIN</span>ONLINE BUSINESS PARTNERSHIP</h2>
                        <div class="banner_btn">
                            <a href="javascript:void(0);" class="cmn_btn"  href="#bareg">Register Here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="icons_section_outer">
        <div class="container">
            <ul>
                <li>
                    <a href="javascript:void(0);">
                        <span>
                            <figure><img src="assets/Images/icon1.png"></figure>
                        </span>
                        Financial
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <span>
                            <figure><img src="assets/Images/icon2.png"></figure>
                        </span>
                        Low Processing fee
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <span>
                            <figure><img src="assets/Images/icon3.png"></figure>
                        </span>
                        Competitive Pricing
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <span>
                            <figure><img src="assets/Images/icon4.png"></figure>
                        </span>
                        Wide Range of offerings
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Banner -->

    <!-- About -->
    <section class="about_outer pdtb_70" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-2 order-md-1 order-lg-1">
                    <div class="content_cmn md_pt">
                        <div class="about_heading">
                            <h2 class="cmn_heading"><span>About Us</span>Why Choose Us</h2>
                        </div>
                        <p>Finspace Advisors Private Limited, a fintech company, provides digital access of all financial products to its customer with the help of cutting-edge technology built on Blockchain to ensure security of data. The Company has partnered with various distributors locally, to provide personalized services to suit the needs of the customer.</p>
                        <ul>
                            <li><p>Impregnable Privacy</p></li>
                            <li><p>Confidentiality</p></li>
                            <li><p>Trust</p></li>
                            <li><p>Reliability</p></li>
                            <li><p>Personalisation</p></li>
                        </ul>
                        <!-- <div class="about_btn">
                            <a href="javascript:void(0)" class="cmn_btn">Read More</a>
                        </div> -->
                    </div>
                </div>
                <div class="col-md-6 order-1 order-md-2 order-lg-2">
                    <div class="cmn_img">
                        <figure>
                            <img src="assets/Images/about.png" alt=" About Us">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About -->
    <!-- We offer -->
    <section class="we_offer_outer pdtb_70" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-2">
                    <div class="content_cmn md_pt">
                        <div class="about_heading">
                            <h2 class="cmn_heading"><span>FINSPACE</span>What We Offer</h2>
                        </div>
                        <ul>
                            <li><p>Digital onboarding</p></li>
                            <li><p>Manual guidance through Business Associates</p></li>
                            <li><p>Digital Application verified through technology</p></li>
                            <li><p>Direct communication channel to customer</p></li>
                        </ul>
                        <!-- <div class="about_btn">
                            <a href="javascript:void(0)" class="cmn_btn">Read More</a>
                        </div> -->
                    </div>
                </div>
                <div class="col-md-6 order-1">
                    <div class="cmn_img">
                        <figure>
                            <img src="assets/Images/we_offer.png" alt=" About Us">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- We offer -->

    <!-- Mission and Vision -->
    <section class="mission_vision_outer pdtb_70" id="misvis">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-2 order-md-1 order-lg-1">
                    <div class="content_cmn md_pt">
                        <div class="mission_cnt">
                            <div class="about_heading">
                                <h2 class="cmn_heading"><span>finspace</span>Vision</h2>
                            </div>
                            <p>To be the most reliable financial advisor to our customers for all their needs.</p>                        
                            <div class="about_heading">
                                <h2 class="cmn_heading">Mission</h2>
                            </div>
                            <p>To make available all financial products to our customers and educate them of the best products available in market through combination of digital and physical advisory with best use of technology and human involvement.</p>
                            <div class="about_btn">
                                <a href="javascript:void(0)" class="cmn_btn" href="#contact">Get in touch</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 order-1 order-md-2 order-lg-2">
                    <div class="cmn_img">
                        <figure>
                            <img src="assets/Images/mission_vision.png" alt="Mission & Vision">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Mission and Vision -->

    <!-- Products -->
    <section class="products_outer pdtb_70" id="service">
        <div class="container">
            <div class="section_head">
                <div class="products_heading">
                    <h2 class="cmn_heading"><span>Products</span>Our Services</h2>
                </div>
                <div class="products_btn d-none d-md-block">
                    <a class="cmn_btn" href="javascript:void(0);" href="#contact">Get in touch</a>
                </div>                
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="products_block">
                        <div class="products_icon">
                            <figure>
                                <img src="assets/Images/loan_product.png" alt="">
                            </figure>
                        </div>
                        <h3>Loan Products</h3>
                        <ul>
                            <li *ngFor="let item of loanlist"><a href="javascript:void(0);"  (click)="SendLoanRequest(item.loanTypeId)">{{item.loanType}}</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="products_block">
                        <div class="products_icon">
                            <figure>
                                <img src="assets/Images/insurance.png" alt="">
                            </figure>
                        </div>
                        <h3>Insurance Products</h3>
                        <ul>
                            <li *ngFor="let item of insurancelist" > <a href="javascript:void(0);" (click)="SendRequest(item.insuranceTypeId)">{{item.insuranceType}}</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="products_block">
                        <div class="products_icon">
                            <figure>
                                <img src="assets/Images/nvesment.png" alt="">
                            </figure>
                        </div>
                        <h3>Investment Products</h3>
                        <ul>
                            <li *ngFor="let item of inestments" ><a href="javascript:void(0);" (click)="SendfundRequest(item.id)">{{item.investmentTypeName}}</a></li>
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Products -->
    <section  id="partner">
        <br/>
        <br/> <br/>
        <br/>
        <div class="partnership_outer">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <div class="partner_box">
                        <h2>Become our Partner !</h2>
                        <p>Join us as a Business Associate and set up your own business. Earn the best commissions in industry on selling the financial products</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="partner_btn">
                        <a href="javascript:void(0)" class="cmn_btn" href="#/serviceproviderregistration">Join Today</a>                        
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- Contact -->
    <section class="get_in_touch pdtb_70" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact_form_outer">
                        <div class="shape_contact">
                            <figure>
                                <img src="assets/Images/contact_shape.png" alt="">
                            </figure>
                        </div>
                        <div class="contact_heading">
                            <h2 class="cmn_heading"><span>finspace</span>Get In Touch</h2>
                        </div>
                        <form #EnquiryForm="ngForm" (ngSubmit)="saveenquiry(EnquiryForm)" method="post" role="form" class="php-email-form">
                            <div class="form_inner">
                                <div class="form-row">
                                    <div class="col-md-6 cmn_blk">
                                        <input type="text"  class="form-control" name="name" id="name"  [(ngModel)]="name" required/>
                                        <!-- <input type="text" class="form-control" name="subject" id="subject"  [(ngModel)]="subject"/> -->
                                        <span class="placeholder">First Name</span>
                                    </div>
                                    <div class="col-md-6 cmn_blk">
                                        <input type="text" name="" class="form-control" name="lastname" id="lastname" [(ngModel)]="lastname"/>
                                        <span class="placeholder">Last Name</span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 cmn_blk">
                                        <input type="email"  class="form-control" name="email" id="email" [(ngModel)]="email" required/>
                                        <span class="placeholder">Your Email</span>
                                    </div>
                                    <div class="col-md-6 cmn_blk">
                                        <input type="text"  class="form-control" name="subject" id="subject"  [(ngModel)]="subject" required/>
                                        <span class="placeholder">Your Subject</span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12 cmn_blk">
                                        <textarea class="form-control" name="message"  [(ngModel)]="message"></textarea>
                                        <!-- <textarea name="" class="form-control"></textarea> -->
                                        <span class="placeholder">Message</span>
                                    </div>
                                </div>
                                <div class="form_btn">
                                    <input type="submit" name=""  value="Submit" class="cmn_btn" style="border: 0;" (click)="sendenquiry()">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contact_info_outer md_pt">
                        <div class="contact_info_heading">
                            <h2 class="cmn_heading"><span>finspace</span>Affiliations And Recognition</h2>
                        </div>
                        <div class="contact_info_inner">
                            <ul>
                                <li><figure><img src="assets/Images/contact_images/img1.png" alt=""></figure></li>
                                <li><figure><img src="assets/Images/contact_images/img2.jpg" alt=""></figure></li>
                                <li><figure><img src="assets/Images/contact_images/img3.jpg" alt=""></figure></li>
                                <li><figure><img src="assets/Images/contact_images/img5.png"style="filter: grayscale(53) invert(3);" alt=""></figure></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact -->

    <div class="clients_logo">
        <div class="container">
            <div class="contact_info_heading text-center ">
                <h2 class="cmn_heading">Our Business Partners</h2>
            </div>
            <div class="logo_slide">
                <div>                    
                    <figure><img src="assets/Images/contact_images/img4.png" alt=""></figure>
                </div>
                <div>                    
                    <figure><img src="assets/Images/contact_images/img4.png" alt=""></figure>
                </div>
                <div>                    
                    <figure><img src="assets/Images/contact_images/img4.png" alt=""></figure>
                </div>
                <div>                    
                    <figure><img src="assets/Images/contact_images/img4.png" alt=""></figure>
                </div>
                <div>                    
                    <figure><img src="assets/Images/contact_images/img4.png" alt=""></figure>
                </div>
                <div>                    
                    <figure><img src="assets/Images/contact_images/img4.png" alt=""></figure>
                </div>
                <div>                    
                    <figure><img src="assets/Images/contact_images/img4.png" alt=""></figure>
                </div>
                <div>                    
                    <figure><img src="assets/Images/contact_images/img4.png" alt=""></figure>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer_outer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="widz">
                        <a href="javascript:void(0);" class="footer_brand">
                            <figure>
                                <img src="assets/Images/logo.png" alt="">
                            </figure>
                        </a>
                        <p>Finspace Advisors Private Limited,a fintech company, provides digital access of all financial products to its customer with the help of cutting-edge technology built on Blockchain to ensure security of data.</p>

                        <a href="javascript:void(0);">Read More</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="widz links">
                        <h3>usefull links</h3>
                        <ul>
                            <li><a href="#home">Home</a></li>
                            <li><a href="#misvis">About us</a></li>
                            <li><a href="#service">Products & Services</a></li>
                            <li><a href="#/termsofuse">Terms of service</a></li>
                            <li><a href="#/privacy">Privacy policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="widz">
                        <div class="widz links">
                            <h3>Contact Us</h3>
                            <ul>
                                <!-- <li>
                                    <p># 563, "Srichid", II Cross, II Main,
                                    RBI East Layout, VII Phase, J P Nagar,
                                    Bangalore - 560078, Karnataka, India.</p>
                                </li> -->
                                <li><a href="mailto:support@myfinspace.com">support@myfinspace.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
    </footer>

    <!-- Footer -->

 

</body>

</html>





<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Finspace Bootstrap Template - Index</title>
    <meta content="" name="descriptison" />
    <meta content="" name="keywords" />
</head>

<body> -->
    <!-- ======= Header ======= -->

    <!-- End Header -->

    <!-- ======= Hero Section ======= -->

    <!-- <div class="hero">

        <div>
            <div class="text-block">

                <h2 class="textfontsize">
                    financial services <br /> online partnership ! </h2>

                <p id="tagline">&nbsp;S E C U R E D&nbsp;&nbsp; W I T H &nbsp;&nbsp;B L O C K C H A I N</p>
                <br />
            </div>
        </div> 
        <div id="hero-block">
            <div id="hero-image">
                <img src="assets/img/bank1.svg" alt="..." style="width: 58%; height: 58%;" />
            </div>
        </div>
    </div>

    <br /> -->

    <!-- End Hero -->

    <!-- <main id="main">
         ======= About Section =======  
        <section id="about" class="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6" data-aos="zoom-in">
                        <img src="assets/img/Capture.PNG" class="img-fluid" alt="" />
                    </div>
                    <div class="col-lg-6 d-flex flex-column justify-contents-center" data-aos="fade-left">
                        <div class="content pt-4 pt-lg-0">
                            <h3>About us</h3>
                            <p>
                                Finspace is the newest kid on the block, armed with blockchain security,
                                This Forum provides all types of financial services solutions to the clients.
                            </p>
                            <ul>
                                <li><i class="icofont-check-circled"></i> Impregnable Privacy</li>
                                <li><i class="icofont-check-circled"></i> Confidentiality</li>
                                <li><i class="icofont-check-circled"></i> Trust</li>
                                <li><i class="icofont-check-circled"></i> Reliability</li>
                                <li><i class="icofont-check-circled"></i> Personalization</li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- End About Section -->


        <!-- =======   Our Vision Mission  ======= -->
        <!-- <section id="about" class="about" style="margin-top: -3%;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 d-flex flex-column justify-contents-center" data-aos="fade-left">
                        <div class="content pt-4 pt-lg-0">
                            <br/>
                            <h3>Vision</h3>
                            <p>
                                <br/> <br/><br/>
                                To be the most reliable financial advisor to our customers for all
                                their needs.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-2" data-aos="zoom-in"></div>
                    <div class="col-lg-4" data-aos="zoom-in">
                        <img src="assets/img/vision.PNG" class="img-fluid" alt="" style="height: 65%;"/>
                    </div>
                    <div class="col-lg-6" data-aos="zoom-in">
                        <img src="assets/img/mission.PNG" class="img-fluid" alt="" style="height: 65%;"/>
                    </div>
                    <div class="col-lg-6 d-flex flex-column justify-contents-center" data-aos="fade-left">
                        <div class="content pt-4 pt-lg-0">
                            <br>
                            <h3>Mission</h3>
                            <p>
                                <br/> <br/>
                                To make available all financial products to our customers and educate them of the best
                                products available in market through combination of digital and physical advisory with
                                best use of technology and human involvement.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- End Our Vision Mission -->


         <!-- ======= Services Section ======= -->

         <!-- <section id="services" class="services section-bg" style="margin-top: -10%;">
            <div class="container">
                <div class="section-title" data-aos="fade-up">
                    <h2>Loan Products</h2>
                    <p>
                        Virtual Tour of SBI Home Loans takes you to a world of SBI Home Loan processes viz. sourcing, processing, sanctioning and documentation, which in turn make your journey pleasant with SBI Home Loan.
                    </p> 
                </div>
                <div class="row">
                    <div *ngFor="let item of loanlist"
                        class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 boxleft" data-aos="zoom-in">
                        <div class="icon-box icon-box-green" style="width:230px;margin-top: 15px;cursor: pointer;"
                            (click)="SendLoanRequest(item.loanTypeId)">
                            <div class="icon">
                                <i class="fa fa-business-time" style="font-size: 25px;" *ngIf="item.loanTypeId==1"></i>
                                <i class="fa fa-motorcycle" style="font-size: 25px;" *ngIf="item.loanTypeId==2"></i>
                                <i class="fa fa-edit" style="font-size: 25px;" *ngIf="item.loanTypeId==3"></i>
                                <i class="fa fa-chart-line" style="font-size: 25px;" *ngIf="item.loanTypeId==4"></i>
                                <i class="fa fa-building" style="font-size: 25px;" *ngIf="item.loanTypeId==5"></i>
                                <i class="fa fa-copy" style="font-size: 25px;" *ngIf="item.loanTypeId==6"></i>
                                <i class="fa fa-coins" style="font-size: 25px;" *ngIf="item.loanTypeId==1001"></i>
                                <i class="fa fa-user-graduate" style="font-size: 25px;"
                                    *ngIf="item.loanTypeId==1002"></i>
                                <i class="fa fa-home" style="font-size: 25px;" *ngIf="item.loanTypeId==1003"></i>
                                <i class="fa fa-coins" style="font-size: 25px;" *ngIf="item.loanTypeId==1004"></i>
                            </div>
                            <h4 class="title"><a>{{item.loanType}}</a></h4>

                        </div>
                        <br />
                    </div>
                    <br />
                </div>


                <br />
            </div>
        </section>
        <div>&nbsp;</div> -->

        <!-- <section id="services" class="services section-bg">
            <div class="container">
                <div class="section-title" data-aos="fade-up">
                    <h2>Insurance Products</h2>

                </div>
                <div class="row">
                    <div *ngFor="let item of insurancelist"
                        class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 boxleft" data-aos="zoom-in">
                        <div class="icon-box icon-box-pink" style="width:230px;margin-top: 15px;cursor: pointer;"
                            (click)="SendRequest(item.insuranceTypeId)">
                            <div class="icon">
                                <i class="fa fa-hand-holding-heart" style="font-size: 25px;"
                                    *ngIf="item.insuranceType=='Life Insurance'"></i>
                                <i class="fa fa-hand-holding-heart" style="font-size: 25px;"
                                    *ngIf="item.insuranceType=='Term Life Insurance'"></i>
                                <i class="fa fa-motorcycle" style="font-size: 25px;"
                                    *ngIf="item.insuranceType=='Motor Insurance'"></i>
                                <i class="fa fa-car-crash" style="font-size: 25px;"
                                    *ngIf="item.insuranceType=='Accident Insurance'"></i>
                                <i class="fa fa-hospital" style="font-size: 25px;"
                                    *ngIf="item.insuranceType=='Health Insurance'"></i>
                                <i class="fa fa-home" style="font-size: 25px;"
                                    *ngIf="item.insuranceType=='Home Insurance'"></i>
                            </div>
                            <h4 class="title"><a>{{item.insuranceType}}</a></h4>

                        </div>
                        <br />
                    </div>
                    <br />
                </div>
                <br />
            </div>
        </section>


        <section id="services" class="services section-bg">
            <div class="container">
                <div class="section-title" data-aos="fade-up">
                    <h2>Investment Products</h2>
                </div>
                <div class="row">
                    <div *ngFor="let item of inestments"
                        class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 boxleft" data-aos="zoom-in">
                        <div class="icon-box icon-box-pink" style="width:230px;margin-top: 15px;cursor: pointer;"
                            (click)="SendfundRequest(item.id)">
                            <div class="icon">
                                <i class="fa fa-coins" style="font-size: 25px;" *ngIf="item.id==1"></i>
                                <i class="fa fa-rupee-sign" style="font-size: 25px;" *ngIf="item.id==2"></i>

                             </div>
                            <h4 class="title"><a>{{item.investmentTypeName}}</a></h4>
                        </div>
                        <br />
                    </div>
                    <br />
                </div>
                <br />
            </div>
        </section> -->

        <!-- <section id="services" class="services section-bg">
            <div class="container">
                <div class="section-title" data-aos="fade-up">
                    <h2>Mutual Fund</h2>

                </div>
                <div class="row">
                  <div class="col-md-12 col-lg-12 row">

                    <div class="col-md-5 ">&nbsp;</div>
                    
                        <div class="homecard" class="col-md-4 " (click)="SendfundRequest()"
                        class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 boxleft" data-aos="zoom-in">
                        <img src="./assets/img/fund3.png" style="width: 200px; height: 200px; cursor: pointer;" />
                 
                    </div>              
                    <div class="col-md-4 ">&nbsp;</div>

                  </div>
                    <br />
                </div>
                <br />
            </div>
        </section> -->

        <!-- End Services Section -->



        <!-- =======   Our Team  ======= -->
        <!-- <section id="about" class="about" style="margin-top: -3%;">
            <div class="container">
                <h3>Our Team</h3>
                <div class="row">

                    <div class="col-lg-5 d-flex flex-column justify-contents-center">
                        <div class="content pt-4 pt-lg-0">
                             <div style="float: left;width: 50%;"><br/>
                                <br/><img style="cursor: pointer;width: 200px;height: 180px;border-radius: 50%;"
                                    src="./assets/img/pic.jpg" width="160px;">
                                <p id="teamnames">Dr. Satchidananda S Sogala</p>
                            </div>
                         </div>
                    </div>
                    <div class="col-lg-6 d-flex flex-column justify-contents-center" data-aos="fade-left">
                        <div class="content pt-4 pt-lg-0">
                            <p>
                                <br /> <br />
                                Dr Satchidananda S Sogala, M.S., Ph.D., is a technology leader in banking, academia and
                                the IT industry. An Alumnus of the University of Illinois at Urbana Champaign, he has
                                rich experience of applying IT innovatively in diverse spheres as the Regional Director
                                of Reserve Bank of india ; as the Professor and CEBIT Research Director at IIIT; as the
                                Head of Risk and Research in IBM and lately as the Founder of Srichid Technologies and
                                Srichid Blockchain Services. He brings his technical prowess to Finspace to delight the
                                customers through blockchain and innovation.</p>
                        </div>
                    </div>
                    
                    <div class="col-lg-1 d-flex flex-column justify-contents-center" data-aos="fade-left">
                        &nbsp;
                    </div>
                    <div class="col-lg-12 d-flex flex-column justify-contents-center" data-aos="fade-left">
                        &nbsp;
                    </div>
                    <div class="col-lg-5 d-flex flex-column justify-contents-center">
                        <div class="content pt-4 pt-lg-0">
                             <div style="float: left;width: 50%;"><img
                                    style="cursor: pointer;width: 200px;height: 180px;border-radius: 50%;"
                                    src="./assets/img/Rameshwar.PNG" width="160px;">
                                <p id="teamnames">Rameshwar Sharma</p>
                            </div>
                         </div>
                    </div>
                    <div class="col-lg-6 d-flex flex-column justify-contents-center" data-aos="fade-left">
                        <div class="content pt-4 pt-lg-0">
                            <p>
                                <br /> <br />
                                Rameshwar Sharma is FRM, CFA and is known risk management professional . He has more
                                than 15 years of industry knowledge. He has worked in companies like Tata Capital
                                Limited

                            </p>
                        </div>
                    </div>

                    <div class="col-lg-1 d-flex flex-column justify-contents-center" data-aos="fade-left">
                        &nbsp;
                    </div>
                    <div class="col-lg-12 d-flex flex-column justify-contents-center" data-aos="fade-left">
                        &nbsp;
                    </div>
                    <div class="col-lg-5 d-flex flex-column justify-contents-center">
                        <div class="content pt-4 pt-lg-0">
                             <div style="float: left;width: 50%;"><img
                                    style="cursor: pointer;width: 200px;height: 180px;border-radius: 50%;"
                                    src="./assets/img/suraj.png" width="160px;">
                                <p id="teamnames">Suraj Kumar</p>
                            </div>
                         </div>
                    </div>
                    <div class="col-lg-6 d-flex flex-column justify-contents-center" data-aos="fade-left">
                        <div class="content pt-4 pt-lg-0">
                            <p>
                                <br /> <br />
                                Suraj Kumar is MBA from ICFAI Business school Bengaluru. He specialized in finance. He
                                studied the financial industry closely and started the venture for enabling financial
                                inclusion
                                service model.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-1 d-flex flex-column justify-contents-center" data-aos="fade-left">
                        &nbsp;
                    </div>
                </div>
            </div>
        </section> -->
        <!-- End Our Team  -->


        <!-- ======= Features Section ======= -->
        <!-- <section id="features" class="features">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mt-2 mb-tg-0 order-2 order-lg-1">
                        <ul class="nav nav-tabs flex-column">
                            <li class="nav-item" data-aos="fade-up">
                                <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                                    <h4>Financial</h4>
                                </a>
                            </li>
                            <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="100">
                                <a class="nav-link" data-toggle="tab" href="#tab-2">
                                    <h4>Low Processing fee</h4>
                                </a>
                            </li>
                            <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="200">
                                <a class="nav-link" data-toggle="tab" href="#tab-3">
                                    <h4>Competitive Pricing</h4>
                                </a>
                            </li>
                            <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="300">
                                <a class="nav-link" data-toggle="tab" href="#tab-4">
                                    <h4>Wide Range of offerings</h4>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab-1">
                                <figure>
                                    <img src="assets/img/verify.svg" alt="" class="img-fluid" />
                                </figure>
                            </div>
                            <div class="tab-pane" id="tab-2">
                                <figure>
                                    <img src="assets/img/factor.svg" alt="" class="img-fluid" />
                                </figure>
                            </div>
                            <div class="tab-pane" id="tab-3">
                                <figure>
                                    <img src="assets/img/client.svg" alt="" class="img-fluid" />
                                </figure>
                            </div>
                            <div class="tab-pane" id="tab-4">
                                <figure>
                                    <img src="assets/img/blockchain.svg" alt="" class="img-fluid" />
                                </figure>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- End Features Section -->


        <!-- ======= Cta Section ======= -->
        <!-- <section id="cta" class="cta">
            <div class="container">
                <div class="row" data-aos="zoom-in">
                    <div class="col-lg-9 text-center text-lg-left">
                        <p>
                            The Bank is actively involved since 1973 in non-profit activity called Community Services Banking. All our branches and administrative offices throughout the country sponsor and participate in large number of welfare activities and social causes. Our
                            business is more than banking because we touch the lives of people anywhere in many ways.
                        </p>
                    </div>
                    <div class="col-lg-3 cta-btn-container text-center">
                        <a class="cta-btn align-middle" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- End Cta Section -->

        <!-- ======= F.A.Q Section ======= -->
        <!-- <section id="faq" class="faq">
            <div class="container">
                <div class="section-title" data-aos="fade-up">
                    <h2>Frequently Asked Questions</h2>
                </div>

                <ul class="faq-list">
                    <li data-aos="fade-up">
                        <a data-toggle="collapse" class="" href="#faq1">What is Finspace? <i
                                class="icofont-simple-up"></i></a>
                        <!-- <div id="faq1" class="collapse show" data-parent=".faq-list">
                            <p>
                                EBLR stands for External Benchmark Lending Rate. SBI has adopted Repo Rate as the external benchmark to link its floating rate home loans with effect from 01.10.2019.
                            </p>
                        </div>  
                    </li>

                    <li data-aos="fade-up" data-aos-delay="100">
                        <a data-toggle="collapse" href="#faq2" class="collapsed">Can existing borrowers avail the
                            benefits of the new interest
                            rate? <i class="icofont-simple-up"></i></a>
                          <div id="faq2" class="collapse" data-parent=".faq-list">
                            <p>
                                Yes, floating rate home loan borrowers with regular account conduct as on the date of switch over, can be migrated to the new interest rate structure.
                            </p>
                        </div> 
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <a data-toggle="collapse" href="#faq3" class="collapsed">When will my interest rate change?
                            <i class="icofont-simple-up"></i></a>
                        <div id="faq3" class="collapse" data-parent=".faq-list">
                            <p>
                                The interest rates will change at quarterly interval on 1st day of calendar quarter subsequent to the change in RBI’s Repo Rate.
                            </p>
                        </div> 
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300">
                        <a data-toggle="collapse" href="#faq4" class="collapsed">What is the meaning of Service Provider
                            Registration?
                            <i class="icofont-simple-up"></i></a>
                       <div id="faq4" class="collapse" data-parent=".faq-list">
                            <p>
                                It refers to the registering of documents relating to transfer, sale, lease or any other form of disposal of an immovable property. Registration is compulsory by law for all properties under Section 17 of the Indian Registrations Act, 1908. Once a property
                                has been registered lawfully, it means that the person in whose favour the property has been registered, is the lawful owner of the premises and is fully responsible for it in all respects.
                            </p>
                        </div> 
                    </li>
                </ul>
            </div>
        </section> -->
        <!-- End Frequently Asked Questions Section -->

        <!-- ======= Contact Section ======= -->
        <!-- <section id="contact" class="contact section-bg">
            <div class="container">
                <div class="section-title" data-aos="fade-up">
                    <h2>Contact Us</h2>
                </div>

                <div class="row">
                    <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-right">
                        <div class="info">
                            <div class="address">
                                <i class="icofont-google-map"></i>
                                <h4>Location:</h4>
                                <p>
                                    "S R I C H I D" , # 563, II Cross, II Main, RBI Layout , VII Phase, J P Nagar,
                                </p>
                            </div>

                            <div class="email">
                                <i class="icofont-envelope"></i>
                                <h4>Email:</h4>
                                <p>info@srichidtechnologies.com</p>
                            </div>

                            <div class="phone">
                                <i class="icofont-phone"></i>
                                <h4>Call:</h4>
                                <p>+91-80-26852070, +91-80-26851563</p>
                            </div>
                           
                            <img src="assets/img/qr-code.png" alt="" class="img-fluid" height="250" width="250" />
                        </div>
                    </div>

                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-left">
                        <form #EnquiryForm="ngForm" (ngSubmit)="saveenquiry(EnquiryForm)" method="post" role="form" class="php-email-form">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name">Your Name</label>
                                    <input type="text" name="name" class="form-control" id="name"  [(ngModel)]="name"/>
                                    <div class="validate"></div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">Your Email</label>
                                    <input type="email" class="form-control" name="email" id="email" [(ngModel)]="email"/>
                                    <div class="validate"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Subject</label>
                                <input type="text" class="form-control" name="subject" id="subject"  [(ngModel)]="subject"/>
                                <div class="validate"></div>
                            </div>
                            <div class="form-group">
                                <label for="name">Message</label>
                                <textarea class="form-control" name="message" rows="10" [(ngModel)]="message"></textarea>
                                <div class="validate"></div>
                            </div>
                            <div class="mb-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">
                                    Your message has been sent. Thank you!
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" (click)="sendenquiry()">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- End Contact Section -->
    <!-- </main> -->
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <!-- <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6"> -->
                        <!-- <div class="footer-info">
                            <h3>Finspace</h3>
                            <p>
                                # 563, "Srichid", II Cross, II Main,<br /> RBI East Layout, VII Phase, J P Nagar, <br />
                                Bangalore - 560078, Karnataka, India.<br /><br />
                                <strong>Phone:</strong> +91-80-26851563<br />
                                <strong>Email:</strong>info@srichidtechnologies.com<br />
                            </p>
                            <div class="social-links mt-3">
                                <a (click)= "twitter()" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a (click)= "facebook()" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a (click)= "instagram()" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a (click)= "skype()" class="google-plus"><i class="bx bxl-skype"></i></a>
                                <a (click)= "linkedin()" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 footer-links"></div>
                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="#">Home</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="#">About us</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="#ProductsPage">Products & Services</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a href="#terms">Terms of service</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a href="#privacy">Privacy policy</a>
                            </li>
                        </ul>
                    </div> -->

                    <!-- <div class="col-lg-3 col-md-6 footer-links"> -->
                        <!-- <h4>Our Services</h4>
                        <ul>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a href="#">Aadhaar Seeding</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a href="#">ATM Services</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a href="#">Cash @ Bank</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i> <a href="#">Marketing</a>
                            </li>
                            <li>
                                <i class="bx bx-chevron-right"></i>
                                <a href="#">Pension</a>
                            </li>
                        </ul> -->


                    <!-- </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Finspace</span></strong>. All Rights Reserved
            </div>
        </div>
    </footer> -->
    <!-- End Footer -->

    <!-- <a href="#" class="back-to-top"><i class="bx bxs-up-arrow-alt"></i></a> -->


    <!-- <div class="modal modal-angular fade" id="requestservice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modalsize" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100" id="myModalLabel" style="text-align: center">
                    Insurance Types
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body text-center">
                    <div class="col-md-12 row">
                        <div class="col-md-3"></div>
                        <div class="col-md-8">
                            <table class="table-bordered">
                                <thead>
                                    <th style=" padding: 10px">Insurance Type</th>
                                    <th style=" padding: 10px">Send</th>
                                </thead>
                                <tbody *ngFor="let item of insurancelist">
                                    <tr style=" padding: 10px">
                                        <td>{{item.insuranceType}}</td>
                                        <td style="padding: 6px">
                                            <button class="btn btnprop" data-dismiss="modal" mdbWavesEffect (click)="SendRequest(item.insuranceTypeId)">Send
                                                Request</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning waves-light" data-dismiss="modal"
                        mdbWavesEffect>Close</button>
    
                </div>
            </div>
        </div>
    </div> -->
<!-- 
</body>

</html>
<style>
    .modalsize {
        width: 750px;
        max-width: 950px;
        overflow-y: 50vh;
    }

    @media (max-width: 960px) {
        .modalsize {
            width: 550px;
            max-width: 650px;
            overflow-y: 50vh;
        }
    }

    @media (max-width: 755px) {
        .modalsize {
            width: 550px;
            max-width: 650px;
            overflow-y: 50vh;
        }
    }

    @media (max-width: 575px) {
        .modalsize {
            width: 480px;
            max-width: 550px;
            overflow-y: 50vh;
        }
    }

    @media (max-width: 460px) {
        .modalsize {
            width: 300px;
            max-width: 450px;
            overflow-y: 50vh;
        }
    }

    @media (max-width: 390px) {
        .modalsize {
            width: 290px;
            max-width: 450px;
            overflow-y: 50vh;
        }
    }

    @media (max-width: 320px) {
        .modalsize {
            width: 270px;
            max-width: 450px;
            overflow-y: 50vh;
        }
    }
</style> -->